test.css
{text-align: center;}

#header {width: 500px; 
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
border: solid 8px black;
}


#Header h1{ color: gold;}

#LeftNav{ width: 400px;}

#Content{width: 700px;
 margin-left: auto; 
  margin-right: auto; 
 margin-bottom: 10px; }


div {{width: 500px; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: solid 8px; Color: black;}


    <link href="https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap" rel="stylesheet"> 
